* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/

.top-line {
    background-color: #EFEFEF;
}

.top-line-menu {
    font-size: 14px;
    line-height: 16px;
    padding: 17px 0 16px;
    text-align: center;
}

.nav {
    margin-right: 30px;
    text-decoration: none;
    color: #333333;
}

.nav:last-child {
    margin-right: 0;
}

.nav:hover {
    color: #F13C6E;
}

/*Main*/

.second-line {
    background-color: #ffffff;
}

.icon-link {
    text-decoration: none;
}

.icon {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.title {
    height: 80px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 20px;
}

.clearfix {
    clear: both;
}

.container-left {
    float:left;
}

.container-right {
    float: right;
}

.container-inner-top {
    line-height: 120px;
}

.call {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    margin-right: 40px;
}

.call:hover {
    color: #F13C6E;
}

.btn {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    border: 2px solid #F13C6E;
    padding: 10px 24px;
    border-radius: 27px;
    background-color: transparent;
}

.btn:hover {
    color: #ffffff;
    background-color: #F13C6E;
}

.line {
    border: 1px solid #EFEFEF;
}

.second-line-main-menu {
    padding: 30px 0;
    text-align: center;
}

.nav-main-menu {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    margin-right: 40px;
}

.nav-main-menu:last-child {
    margin-right: 0;
}

.nav-main-menu:hover {
    color: #F13C6E;
}

.main-fon {
    background-image: url(images/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.slogan {
    max-width: 308px;
    padding-top: 192px;
    padding-bottom: 193px;
}

.title-slogan {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    padding-bottom: 50px;
}

.subtitle-slogan {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    padding-bottom: 50px;
}

.btn.about {
    border-color: #ffffff;
    color: #ffffff;
    display: inline-block;
}

.btn.about:hover {
    background-color: #ffffff;
    color: #000000;
}

.sale {
    background-color: #E5E5E5;
}

.title-special-offers {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 80px 0 38px;
}

.special-offers {
    background-color: #ffffff;
    text-align: center;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 100px;
    padding: 25px 0;
    float: left;
}

.special-offers:nth-child(4) {
    margin: 0;
}

.armchair {
    width: 125px;
}

.about-special-offers {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-left: auto;
    margin-right: auto;
    width: 195px;
    padding-top: 20px;
}

.price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    padding: 20px 0;
}

.btn.buy {
    color: #ffffff;
    border: 1px solid #F13C6E;;
    padding: 8px 40px;
    border-radius: 27px;
    background-color: #F13C6E;
    cursor: pointer;
    display: inline-block;
}

.btn.buy:hover {
    background-color: #ffffff;
    color: #000000;
}

.bonus {
    background-color: #F13C6E;
    padding: 35px 45px 35px 40px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 100px;
    width: 540px;
}
.bonus:last-child {
    margin-right: 0;
}

.about-bonus {
    width: 250px;
    display: inline-block;
}

.title-bonus {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 25px;
}

.subtitle-bonus {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 25px;
}

.email {
    width: 225px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 0 9px 25px;
    border-width: 0;
    color: #C4C4C4;
}

.email:focus {
    outline: none;
}

.img {
    display: inline-block;
    padding-left: 65px;
}

.about-bonus-second {
    width: 170px;
    display: inline-block;
}

.btn.store-map {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 7px 26px;
    display: inline-block;
}

.btn.store-map:hover {
    background-color: #ffffff;
    color: #000000;
}

.impuls {
    padding: 35px 0;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #EFEFEF;
    border-collapse: collapse;
    float: left;
    width: 25%;
}

/*Footer*/

.footer-logo {
    line-height: 44px;
    padding: 37px 0;
}

.container-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-nav-first {
    padding-right: 30px;
    width: 25%;
    float: left;
}

.footer-nav-first:nth-child(4) {
    padding: 0;
}

.footer-title-nav {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 30px;
}

.footer-subtitle-nav {
    padding-top: 25px;
}

.footer-subtitle-nav-link {
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    text-decoration: none;
}

.footer-subtitle-nav-link:hover {
    color: #F13C6E;
}

.container-left.networks {

}

.logo-social-networks {
    width: 45px;
    height: 45px;
    border: 2px solid #F13C6E;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
    float: left;
}

.logo-social-networks:nth-child(4) {
    margin-right: 0;
}

.logo-social-networks-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.copyrigh {
    background-color: #EFEFEF;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyrigh-left {
    float: left;
}

.copyrigh-right {
    float: right;
    text-decoration: none;
    color: #828282;
}